# Gradle
.gradle/
**/.gradle/
build/
**/build/

# Kotlin
.kotlin/
**/.kotlin/

# IntelliJ IDEA
.idea/
**/.idea/
*.iml
*.ipr
*.iws

# Fichiers de compilation
out/
**/out/
bin/
**/bin/
target/
**/target/

# Système
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log